.app {
    background-image: url('./assets/bg-light.png');
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 26px 0px;
}

@media screen and (max-width:769px) {
    .container {
        padding: 20px;
    }
}